@import "tailwindcss";
@import "../../node_modules/preline/variants.css";
@import "./login.css";

@source "../../node_modules/preline/dist/*.js";

.welcome-section {
    height: 100vh;
    background-image: linear-gradient(
            to right,
            rgba(17, 13, 13, 0.753),
            rgba(245, 239, 239, 0.199)
        ),
        url("/public/assets/images/img_welcome_background.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
}

.welcome-section h1 {
    font-size: 52px;
    line-height: 1.05;
    margin-bottom: 20px;
    font-weight: 600;
}

.welcome-section p {
    line-height: 1.4;
    margin-bottom: 15px;
}

.login-button {
    @apply relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800;
}

.login-button span {
    @apply relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-nav {
    padding: 12px;
    display: flex;
    max-width: 1600px;
    align-items: center;
    gap: 25px;
    padding-top: 42px;
}

.logo-icon {
    width: 250px;
    margin: auto;
    stroke: #fff;
    opacity: 0.5;
}

/* Default */
:root {
    --sidebar-bg: #1f2937;
    --header-bg: #111827;
    --accent-color: #3b82f6;
}

/* Admin */
.theme-admin {
    --sidebar-bg: #1e40af;
    --header-bg: #1e3a8a;
    --accent-color: #60a5fa;
}

/* Teacher */
.theme-teacher {
    --sidebar-bg: #14532d;
    --header-bg: #166534;
    --accent-color: #22c55e;
}

/* Student */
.theme-student {
    --sidebar-bg: #4c1d95;
    --header-bg: #5b21b6;
    --accent-color: #a78bfa;
}
